



nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    
    font-size: 1.5rem;
   
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
  
    /* background-color: red; */
    border-color: red;
 
    color: black;
    padding: 0.5rem;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b9f8cf;
    
    
}

/* 
.PorfileImage{
   clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
; */

/* .ProfileImage {
   clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);


} */





/* Swiper Slider */
    


  .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #444;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .autoplay-progress {
      position: absolute;
      right: 16px;
      bottom: 16px;
      z-index: 10;
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      color: var(--swiper-theme-color);
    }

    .autoplay-progress svg {
      --progress: 0;
      position: absolute;
      left: 0;
      top: 0px;
      z-index: 10;
      width: 100%;
      height: 100%;
      stroke-width: 4px;
      stroke: var(--swiper-theme-color);
      fill: none;
      stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
      stroke-dasharray: 125.6;
      transform: rotate(-90deg);
    }






    /* callender */
    .calendar-container {
    background: red;
    width: 320px;                
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
}

.calendar-container header {
    display: flex;
    align-items: center;
    padding: 15px 20px 8px;     
    justify-content: space-between;
}

header .calendar-navigation {
    display: flex;
}

header .calendar-navigation span {
    height: 30px;              
    width: 30px;
    margin: 0 2px;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    user-select: none;
    color: #aeabab;
    font-size: 1.4rem;          
}

.calendar-navigation span:last-child {
    margin-right: -8px;
}

header .calendar-navigation span:hover {
    background: #f2f2f2;
}

header .calendar-current-date {
    font-weight: 500;
    font-size: 1.2rem;        
}

.calendar-body {
    padding: 10px;     
}

.calendar-body ul {
    list-style: none;
    flex-wrap: wrap;
    display: flex;
    text-align: center;
}

.calendar-body .calendar-dates {
    margin-bottom: 10px;    
    width: 100%;
}

.calendar-body li {
    width: calc(100% / 7);
    height: 30px;               
    line-height: 30px;          
    font-size: 0.9rem;          
    color: #414141;
    margin-top: 20px;           
    position: relative;
    z-index: 1;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
}

.calendar-body .calendar-weekdays li {
    cursor: default;
    font-weight: 500;
    font-size: 0.85rem;         
}

.calendar-dates li.inactive {
    color: #aaa;
    cursor: default;
}

.calendar-dates li.active {
    color: #fff;
}
.calendar-dates li::before {
    position: absolute;
    content: "";
    z-index: -1;
    top: 50%;
    left: 50%;
    width: 30px;             
    height: 30px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.calendar-dates li.active::before {
    background: #6964ff;
}

.calendar-dates li:not(.active):not(.highlight):hover::before {
    background: white;
}

.calendar-dates li.highlight {
    background: transparent !important;          
    border: 2px dotted #38f3b1 !important;       
    border-radius: 50%;                           
    position: relative;
    z-index: 10;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: calc(100% / 7);
}